
NetNextJsDemo/AuctionService/obj/AuctionService.csproj.nuget.dgspec.json
NetNextJsDemo/AuctionService/obj/AuctionService.csproj.nuget.g.props
NetNextJsDemo/AuctionService/obj/AuctionService.csproj.nuget.g.targets
NetNextJsDemo/AuctionService/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
NetNextJsDemo/AuctionService/obj/Debug/net8.0/AuctionService.AssemblyInfo.cs
NetNextJsDemo/AuctionService/obj/Debug/net8.0/AuctionService.AssemblyInfoInputs.cache
NetNextJsDemo/AuctionService/obj/Debug/net8.0/AuctionService.assets.cache
NetNextJsDemo/AuctionService/obj/Debug/net8.0/AuctionService.csproj.AssemblyReference.cache
NetNextJsDemo/AuctionService/obj/Debug/net8.0/AuctionService.GeneratedMSBuildEditorConfig.editorconfig
NetNextJsDemo/AuctionService/obj/Debug/net8.0/AuctionService.GlobalUsings.g.cs
NetNextJsDemo/AuctionService/obj/project.assets.json
NetNextJsDemo/AuctionService/obj/project.nuget.cache
NetNextJsDemo/.vs/NetNextJsDemo/v17/.suo
NetNextJsDemo/.vs/NetNextJsDemo/FileContentIndex/f3e9a926-6ab7-4df3-92cc-7c4e4e1bbf5c.vsidx
NetNextJsDemo/.vs/NetNextJsDemo/v17/DocumentLayout.json
NetNextJsDemo/.vs/NetNextJsDemo/DesignTimeBuild/.dtbcache.v2
